<!DOCTYPE html>


<head>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>


<body>
    
    <div class="topbar"></div>
    

    
    <div class="PillarParent">
        <div class="Main"style="left: 10%;"; >
            <div class="Pillar">
                <div class="Bottom"></div>
                <div class="Top"></div>
            </div> 
        </div>  
        <div class="Main"style="left: 20%;"; >
            <div class="Pillar">
                <div class="Bottom"></div>
                <div class="Top"></div>
            </div> 
        </div>  
        <div class="Main"style="left: 30%;"; >
            <div class="Pillar">
                <div class="Bottom"></div>
                <div class="Top">
                    <p>1c</p>
                </div>
            </div> 
        </div>  
        <div class="platform"></div>
    </div>
    
    <div class="LeaderParent">
    <div class="first"></div>
    <div class="first"></div>
    </div>
   
    
  


</body>