<!DOCTYPE html>


<head>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../javascripts/index.js"></script>
</head>


<body>
    
    <div class="topbar"></div>
    

    
    <div class="PillarParent">
        <div class="Main"style="left: 10%;"; >
            <div class="Pillar">
                <div class="Bottom"></div>
                <div class="Top">
                    <p class="TopValue">2c</p> 
                </div>
            </div> 
        </div>  
        <div class="Main"style="left: 20%;"; >
            <div class="Pillar">
                <div class="Bottom"></div>
                <div class="Top">
                    <p class="TopValue">1c</p> 
                </div>
            </div> 
        </div>  
        <div class="Main"style="left: 30%;"; >
            <div class="Pillar">
                <div class="Bottom"></div>
                <div class="Top">
                    <p class="TopValue">3c</p> 
                </div>
                
            </div>
        </div>  
        <div class="platform"></div>
    </div>
    
    <div class="LeaderParent">

    <div class="LeaderElement">
        <p id="1" class="Vertical">1C</p>
        <div class="header">1</div>
    </div>
    <div class="LeaderElement">
        <p id="2"class="Vertical">2C</p>
        <div class="header">2</div>
    </div>
    <div class="LeaderElement">
        <p id="3" class="Vertical">3B</p>
        <div class="header">3</div>
    </div>
    <div class="LeaderElement">
        <p id="4" class="Vertical">3A</p>
        <div class="header">4</div>
    </div>
    
    
    
    </div>
   
    
  


</body>